#Parent{
    position: relative;
    height: 367px;
    width: 515px;
    top:70px;
    border: 2px solid;
    border-color: black;
    background-color: bisque;
}
#NEWC1{
    position: absolute;
    height: 42%;
    width: 30%;
    border: 2px solid;
    left: 15%;
    top: 31%;
    background-color: aquamarine;
   /* overflow-y:scroll; */
   /*overflow:hidden;*/
   /*overflow:visible;*/
   overflow: auto;
}
#NEWC2{
    position: absolute;
    height: 41%;
    width: 31%;
    border: 2px solid;
    left: 55%;
    top: 31%;
    background-color: palevioletred;
}