/*body{
    max-width:1600px;
    height:auto;
}*/

header{
    width: 1600px;
    height: 75px;
    position: sticky;
    border: 1px solid blue;
}
#main{
    height: 1000px;
    /* max-width: 100px;*/ 
    /*min-width:50px;*/
    width: 100%;
    border:2px solid black ;
    /*position: fixed;*/
}