#Parent{
    height: 100px;
    width: 100px;
    margin-top: 10px;
    margin-left: 20px;
    border: 2px solid blueviolet;
    animation-name:myanimation;
    background-color:greenyellow;
    animation-duration: 10s;
    animation-iteration-count:3;
    /**animation-delay: 10s;*/
    animation-timing-function: ease-in-out;
    /*animation-timing-function: ease-in; */   /* its a timing fucntion*/
    animation-name:  name duration timing function delay iteration-count direction fill-mode;
}  
h1{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    font-weight: 500;
    text-align: center;
    animation-name: h1animation;
    animation-duration: 10s;
    animation-iteration-count:3;
    animation-delay:10s;
}

@keyframes myanimation{
    10%{opacity: 0.2;  font-size: large; margin-left:100px;}
    30%{opacity: 0.3;  font-size: medium; margin-left:200px;}
    50%{opacity: 0.7;  font-size: small; margin-left:300px;}
    70%{opacity: 0.3;  font-size:medium; margin-left:400px;}
    90%{opacity: 0.7;  font-size: large; margin-left:500px;}
}

@keyframes h1animation{
    10%{font-size:70px; color: brown;}
    30%{font-size:80px; color: palevioletred;}
    50%{font-size:100px; color:green;}
    70%{font-size:120px; color: yellow;}
    90%{font-size:140px; color: blue;}
}
 